.label {
  flex-direction: row;
  align-items: center;
  padding: 4px 14px;
  gap: 8px;

  /* position: absolute;
  width: 109px;
  height: 28px;
  left: 20px;
  top: 68px; */

  background: #fee2e2;
  border-radius: 28px;

  color: #b91c1c;
}
